:root {
  --budgetText: 79px;
  --remainingText: 112px;
  --spentSoFarText: 124px;
}
.container {
  padding: 0 30px;
  margin: 0 auto;
}

.budgetPlanner {
  padding: 60px 0;
}

.budgetPlannerTitle {
  padding-bottom: 45px;
  text-align: center;
  font-family: "OpenSans-Bold";
  font-size: 50px;
}

.budegetContainer,
.remainingContainer,
.spentSoFarContainer {
  display: flex;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.budegetContainer h3,
.remainingContainer h3,
.spentSoFarContainer h3 {
  font-family: "OpenSans-Medium";
  font-weight: 500;
  margin-right: 5px;
  font-size: 20px;
}

.budegetContainer {
  background-color: #dededd;
  align-items: center;
  position: relative;
}

.remainingContainer {
  background-color: #cee3ba;
}

.spentSoFarContainer {
  background-color: #d8e4f2;
}

.budgetButton {
  position: absolute;
  right: 15px;
}
.fa-pen-to-square,
.fa-circle-check {
  font-size: 20px;
  margin-left: 10px;
}

h3.budgetValue,
h3.remainingValue,
h3.spentValue {
  margin-right: 0;
  overflow-x: auto;
}

h3.budgetValue,
.budgetEditInput {
  width: calc(100% - 30px - var(--budgetText));
}

.budgetEditInput {
  background-color: unset;
  overflow-x: auto;
  border: none;
  font-family: "OpenSans-Medium";
  font-weight: 500;
  font-size: 20px;
}

h3.spentValue {
  max-width: 221px;
}

.budgetPlannerForm {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
}

.formControl {
  display: flex;
  margin-bottom: 15px;
  border-bottom: 2px solid #6d6d6d;
}

.formControl label {
  font-family: "OpenSans-Medium";
  font-weight: 500;
  font-size: 20px;
  margin-right: 5px;
}

.formControl input {
  width: 100%;
  background-color: unset;
  overflow-x: auto;
  border: none;
  font-family: "OpenSans-Medium";
  font-weight: 500;
  font-size: 20px;
}

.budgetPlannerForm button {
  padding: 10px;
  font-family: "OpenSans-Medium";
  font-weight: 500;
  font-size: 20px;
  border: 1px solid #98acc8;
  border-radius: 10px;
  background-color: #c1cdde;
  width: 160px;
  align-self: center;
}

.budgetPlannerExpenseTitle {
  text-align: center;
  font-family: "OpenSans-SemiBold";
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 15px;
}

p {
  font-family: "OpenSans-Regular";
  font-weight: 400;
  font-size: 15px;
}

.budgetPlanner_expense {
  display: flex;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid #6d6d6d;
  margin-bottom: 15px;
}

.budgetPlanner_expense span {
  max-width: calc(100% - 20px);
  overflow-x: auto;
  font-family: "OpenSans-Regular";
  font-weight: 400;
  font-size: 20px;
  padding: 3px 0;
  margin-right: 10px;
  max-width: calc(100% - 45px);
  overflow-y: auto;
}

.budgetPlanner_expense span:nth-child(2) {
  margin-right: 60px;
}

.budgetPlanner_expense button {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.fa-circle-xmark {
  font-size: 20px;
}

@media screen and (min-width: 426px) {
  .container {
    padding: 0 60px;
  }
}

@media screen and (min-width: 1023.9px) {
  .formControlContainer {
    display: flex;
    justify-content: space-between;
  }
  .formControl {
    width: 430px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 45px;
  }

  .budgetPlannerContainerBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .budegetContainer,
  .remainingContainer,
  .spentSoFarContainer {
    width: 365px;
  }
  .formControl {
    width: 520px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1290px) {
  .container {
    padding: 0;
  }
  .formControl {
    width: 570px;
  }
}
