@font-face {
  font-family: "OpenSans-Regular";
  src: url("./font/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "OpenSans-Medium";
  src: url("./font/OpenSans-Medium.ttf");
}
@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("./font/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("./font/OpenSans-Bold.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "OpenSans-Regular";
  background-color: #f5f5f5;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  background-color: unset;
}
